@font-face {
	font-family: Pompadur;/*'nameFont'*/
	src:  url('Neucha-Regular.ttf');/*'files/nameFont'*/
}

body {
	font-family: Pompadur;/*'nameFont, with "@font-face { font-famile: ;}" '*/
	text-align: justify;
	font-size: 18px;
	margin: 0;
}

.background {
	background: url(img/squad.jpg);
	background-attachment: fixed;

	background-position: center center;
	-webkit-background-size: cover;
}

.dontBackground {
	background: #FFFFFF;
}

header {
	background: #EA2539;
	color: #FFFFFF;
	padding: 24px 0;
	width: 100%;
}

header, .flex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

main, footer {
	background: #FFFFFF;
	width: 780px;
	margin: 0 auto;
}

main div, footer div, .div {
	width: 700px;	/*размер блока*/
	margin: 0 auto;	/*настраивает блок по центру*/
	padding: 50px 0 0;
}

ul li, ol li {
	list-style-type: none;
}

div div {
	padding: 0 0 0;
}

.logoItil {
	height: 70px;
}

.poem {
	text-align: left;
	padding: 8px 0 0;
}

.motto {
	background: #FFA926;
	padding: 8px 0 0;
	height: 275px;
}

.title {
	text-align: center;
	padding: 0 0 32px;
}

.shadow {
	text-shadow: #000000 1px 1px;
}

.shadow h3 {
	text-shadow: 0 0;
}

.dontShadow {
	text-shadow: 0 0;
}

.imgEducators {
	height: 348px;
	border: 1px solid #999999;
}

.descriptionEducators {
	background:#D3D3D3;/*#DC143C*/
	color: #808080;/*#FFFFFF*/

	margin: -4px 0;
	padding: 0 20px 20px 40px;
	border: 1px solid #999999;

	width: 288px;
}

.imgSquad {
	height: 200px;
}

.descriptionSquad {/*'описание'*/
	background:#D3D3D3;/*#DC143C*/
	color: #808080;/*#FFFFFF*/
	margin: 0;
	padding: 0 20px 0 40px;
	border: 1px solid #999999;
}
